
<div class="card bg-dark text-white w-100" style="margin: 0rem">
    <img class="card-img" src="images/monkeyBeach.jpg" alt="Card image">
    <div class="card-img-overlay intro">
        <h2 id='welcome' class="card-title welcome">primates in paradise</h2>
        <p class="card-text">its the small things...</p>
        <p class="card-text intro1"></p>
    </div>
</div>