
<nav class="navbar top navbar-dark bg-dark borider">
    <a class="navbar-brand" href="/">
        <img src="images/monkey.svg" width="38"/>
    </a>
    <span class="navbar-text ml-auto">
        <a class='navAnchor' href="/">Home |</a>
        <a class='navAnchor' href="/astonished"> Astonished |</a>
        <a class='navAnchor' href="/sneaky"> Sneaky |</a>
        <a class='navAnchor' href="/thinking"> Thinking Hard</a>
    </span>

</nav>